<!DOCTYPE html>
{% load static %}
<html>
<script>
    function hello()    //创建函数bai
  {
        alert("录入成功");    //弹出窗du口
        }
</script>

<head>
    <title>管理员-录入图书信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" href="{% static "js/jquery.min2.js"%}"></script>
    <link href="{% static "css/style4.css"%}" rel="stylesheet">
</head>

<body>
<div class="main">
	<h1>管理员-录入图书信息</h1>
        {% csrf_token %}
        <div class="agileinfo_main_grid">
            <form  method="post">
                <div class="styled-input">
                    <input type="text" name="isbn" value="{{ isbn }}" placeholder="isbn">
                    <span></span>
                </div>

                <div class="styled-input">
                    <input type="text" name="name" value="{{ name }}" placeholder="name" >
                    <span></span>
                </div>

                <div class="styled-input">
                    <input type="text" name="writer" value="{{ writer }}" placeholder="writer">
                    <span></span>
                </div>

                <div class="clear"></div>

                <div class="styled-input">
                    <input type="text" name="publish"  value="{{ publish }}" placeholder="publish">
                    <span></span>
                </div>
                <div class="styled-input">
                    <input type="text" name="year" value="{{ year }}" placeholder="year">
                    <span></span>
                </div>
                <div class="styled-input">
                    <input type="text" name="sort"  value="{{ sort }}"placeholder="sort">
                    <span></span>
                </div>

                <div class = "clear"></div>

                <input type="submit" onclick="hello()" value="提交" />
            </form>
        </div>
        <div class="agileits_copyright">
            <p>Designed By BC</p>
        </div>
</body>
</html>